@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&display=swap");

/*VARIAVEIS*/
$mainColor: #f94;
$secondaryColor: #2c2d25;
$textColor: #fff;
$borderColor: #e2e8f0;

$breakExtraSmall: "580px";
$breakSmall: "768px";
$breakMedium: "1024px";

/*MIXINS*/
@mixin full-screen {
  width: 100wh;
  height: 100vh;
}
@mixin full-width($minHeight) {
  width: 100%;
  min-height: $minHeight;
}
@mixin after-opacity($color) {
  content: "";
  background: $color;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

/*CONTEUDO*/
body,
html {
  font-family: "Quicksand", sans-serif;
  overflow-x: hidden;
  color: #363636;
}

button {
  background: none;
  border: 0;
  outline: none;
  color: $textColor;
  &:focus {
    outline: none;
  }
}
.divider {
  height: 1px;
  margin: 10px 0;
  border-bottom: 1px solid $borderColor;
  display: block;
}

/*SESSOES*/
.intro {
  @include full-screen();
  background: no-repeat center/cover url(../assets/bg-intro.jpg);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: $textColor;
  z-index: 1;
  @media screen and (max-width: $breakSmall) {
    text-align: center;
  }
  .bounce {
    position: absolute;
    bottom: 50px;
    font-size: 30px;
    animation: bounce 1.5s ease-out infinite;
  }
  img {
    @media screen and (max-width: $breakSmall) {
      max-height: 200px;
      margin: 10px auto;
    }
  }
  h1 {
    font-size: 40px;
  }
  h3 {
    font-size: 100px;
    text-transform: uppercase;
    color: $mainColor;
    @media screen and (max-width: $breakSmall) {
      font-size: 5em;
    }
    @media screen and (max-width: $breakExtraSmall) {
      font-size: 3em;
    }
  }
  h5 {
    font-size: 60px;
    @media screen and (max-width: $breakExtraSmall) {
      font-size: 2.5em;
    }
  }
  > .ocean {
    height: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #015871;
    > .wave {
      z-index: -2;
      background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
      position: absolute;
      top: -198px;
      width: 6400px;
      height: 198px;
      animation: wave 6s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
      transform: translate3d(0, 0, 0);
      &:nth-of-type(2) {
        top: -206px;
        animation: wave 9s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite;
        opacity: 1;
      }
      &:nth-of-type(3) {
        top: -206px;
        animation: wave 3s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite;
        opacity: 1;
      }
    }
  }
  &::after {
    @include after-opacity(rgba(52, 152, 219, 0.7));
  }
}

.dashboard {
  z-index: 40;
  > .header {
    position: sticky;
    min-height: 220px;
    background: url(../assets/bg-weather.jpg) bottom center no-repeat $secondaryColor;
    background-size: cover;
    color: $textColor;
    &::after {
      @include after-opacity(rgba(4, 9, 12, 0.7));
    }
    .local-hora {
      span {
        text-transform: capitalize;
      }
    }
    .temperatura {
      text-align: right;
      @media screen and (max-width: $breakSmall) {
        text-align: center;
      }
      h1 {
        font-size: 80px;
        font-weight: 200;
        line-height: 60px;
      }
    }
    .icon {
      text-align: center;
      p {
        background: rgba(4, 9, 12, 0.6);
        border-radius: 10px;
        padding: 5px;
      }
    }
    .other-info {
      text-align: left;
      font-size: 20px;
      @media screen and (max-width: $breakSmall) {
        text-align: center;
        margin-bottom: 10px;
      }
    }
  }
  > .tabs {
    .react-tabs__tab-list {
      @include full-width(auto);
    }
    .react-tabs__tab {
      padding: 15px 15px 8px 15px;
      text-align: center;
      .date {
        font-weight: bold;
        line-height: 15px;
      }
      .img {
        max-height: 30px;
        display: inherit;
        text-align: center;
      }
      .temperature {
        font-size: 12px;
        color: $mainColor;
      }
    }

    .react-tabs__tab-panel {
      margin-bottom: 50px;
      .numbers {
        .max {
          h1 {
            font-size: 90px;
          }
        }
      }
    }
  }
}

.dataTables_filter {
  float: right;
}
.pagination {
  justify-content: flex-end;
}

/*ANIMAÇÕES*/

@keyframes bounce {
  25% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
