@import "../../node_modules/bootstrap/scss/bootstrap";

$color: #f94;

.intro {
    background-image: url(../assets/bg-intro.jpg);
    width: 100wh;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    &::after {
        content: "";
        background: rgba(29, 83, 104, 0.7);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }
}